.card{
    width: 20%;
    padding: 0.3%;
    margin: 1%;
    background-color: transparent;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card h2{
    color: black;
}

.card:hover{
    background-color:rgb(106, 106, 230);
}
.button{
    display: flex;
    justify-content: flex-end;
}
.onClose{
    background-color: red;
    color: white;
    border-radius: 5px;
}

.onClose:hover{
    background-color:rgb(255, 92, 92);
    color: grey;
}

.rowa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.temp{
    margin: 2%;
}